{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html {% block html_attr %}{% endblock %} lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}CoolOff - Blog - Admin{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {% block stylesheets %}
        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset("bundles/admin/template/smart/css/bootstrap.min.css") }}">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset("bundles/admin/template/smart/css/font-awesome.min.css") }}">

        <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset("bundles/admin/template/smart/css/smartadmin-production-plugins.min.css") }}">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset("bundles/admin/template/smart/css/smartadmin-production.min.css") }}">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset("bundles/admin/template/smart/css/smartadmin-skins.min.css") }}">

        <!-- SmartAdmin RTL Support  -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset("bundles/admin/template/smart/css/smartadmin-rtl.min.css") }}">

        {% stylesheets
            'bundles/admin/less/smart.less'
            'bundles/admin/less/responsive.less'
        %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        <!-- FAVICONS -->
        <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

        <!-- GOOGLE FONT -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

        {% endblock %}

        <!-- Specifying a Webpage Icon for Web Clip
             Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
        <link rel="apple-touch-icon" href="img/splash/sptouch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/splash/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/splash/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/splash/touch-icon-ipad-retina.png">

        <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- Startup image for web apps -->
        <link rel="apple-touch-startup-image" href="img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
        <link rel="apple-touch-startup-image" href="img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    </head>
    <body class="{% block body_class %}{% endblock %} {{ get_state_menu_class() }}">
    {% block full_content %}
        {% include 'AdminBundle:Layout:Smart/header.html.twig' %}
        {% include 'AdminBundle:Layout:Smart/menu.html.twig' %}

        <div id="main" role="main">
            <div id="ribbon">
                <ol class="breadcrumb">
                    <li><a href="{{ path('admin_dashboard') }}" title="{{ 'labels.home' | trans }}">{{ 'labels.home' | trans }}</a></li>
                    {% block breadcrumbs %}
                    {% endblock %}
                </ol>
            </div>

            <div id="content">
                <div class="row">
                    <article class="col-sm-12">
                        {% for flashMessage in app.session.flashbag.get('info') %}
                        <div class="alert alert-success fade in">
                            <button data-dismiss="alert" class="close">
                                ×
                            </button>
                            <i class="fa-fw fa fa-check"></i>
                            {{ flashMessage | raw }}
                        </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger fade in">
                                <button data-dismiss="alert" class="close">
                                    ×
                                </button>
                                <i class="fa-fw fa fa-warning"></i>
                                {{ flashMessage | raw }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %}
                            <div class="alert alert-warning fade in">
                                <button data-dismiss="alert" class="close">
                                    ×
                                </button>
                                <i class="fa-fw fa fa-warning"></i>
                                {{ flashMessage | raw }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success fade in">
                                <button data-dismiss="alert" class="close">
                                    ×
                                </button>
                                <i class="fa-fw fa fa-check"></i>
                                {{ flashMessage | raw }}
                            </div>
                        {% endfor %}
                    </article>
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>

        {% include 'AdminBundle:Layout:Smart/shortCut.html.twig' %}
    {% endblock %}
    {% block javascripts %}

        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
        <script data-pace-options='{ "restartOnRequestAfter": true }' src="{{ asset("bundles/admin/template/smart/js/plugin/pace/pace.min.js") }}"></script>

        <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript">
            if (!window.jQuery) {
                document.write('<script src="{{ asset("bundles/admin/template/smart/js/libs/jquery-2.1.1.min.js") }}"><\/script>');
            }
        </script>

        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script type="text/javascript">
            if (!window.jQuery.ui) {
                document.write('<script src="{{ asset("bundles/admin/template/smart/js/libs/jquery-ui-1.10.3.min.js") }}"><\/script>');
            }
        </script>

        <!-- IMPORTANT: APP CONFIG -->
        <script src="{{ asset("bundles/admin/template/smart/js/app.config.js") }}"></script>

        <!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
        <script src="{{ asset("bundles/admin/template/smart/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js") }}"></script>

        <!-- BOOTSTRAP JS -->
        <script src="{{ asset("bundles/admin/template/smart/js/bootstrap/bootstrap.min.js") }}"></script>

        <!-- CUSTOM NOTIFICATION -->
        <script src="{{ asset("bundles/admin/template/smart/js/notification/SmartNotification.min.js") }}"></script>

        <!-- JARVIS WIDGETS -->
        <script src="{{ asset("bundles/admin/template/smart/js/smartwidgets/jarvis.widget.min.js") }}"></script>

        <!-- EASY PIE CHARTS -->
        <script src="{{ asset("bundles/admin/template/smart/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js") }}"></script>

        <!-- SPARKLINES -->
        <script src="{{ asset("bundles/admin/template/smart/js/plugin/sparkline/jquery.sparkline.min.js") }}"></script>

        <!-- JQUERY VALIDATE -->
        <script src="{{ asset("bundles/admin/template/smart/js/plugin/jquery-validate/jquery.validate.min.js") }}"></script>

        <!-- JQUERY MASKED INPUT -->
        <script src="{{ asset("bundles/admin/template/smart/js/plugin/masked-input/jquery.maskedinput.min.js") }}"></script>

        <!-- JQUERY SELECT2 INPUT -->
        <script src="{{ asset("bundles/admin/template/smart/js/plugin/select2/select2.min.js") }}"></script>

        <!-- JQUERY UI + Bootstrap Slider -->
        <script src="{{ asset("bundles/admin/template/smart/js/plugin/bootstrap-slider/bootstrap-slider.min.js") }}"></script>

        <!-- browser msie issue fix -->
        <script src="{{ asset("bundles/admin/template/smart/js/plugin/msie-fix/jquery.mb.browser.min.js") }}"></script>

        <!-- FastClick: For mobile devices -->
        <script src="{{ asset("bundles/admin/template/smart/js/plugin/fastclick/fastclick.min.js") }}"></script>

        <!--[if IE 8]>

        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

        <![endif]-->

        <!-- MAIN APP JS FILE -->
        <script src="{{ asset("bundles/admin/template/smart/js/app.js") }}"></script>

        <script src="{{ asset("bundles/admin/js/main.js") }}"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                // DO NOT REMOVE : GLOBAL FUNCTIONS!
                pageSetUp();
            });
        </script>

        {% endblock %}
    </body>
</html>