<table class="table">
    <tr>
        <td>{{ data.file }}</td>
        <td>
            <a class="btn btn-xs btn-danger delete-file" data-locale="{{ data.locale }}" data-file="{{ data.file }}"><i class="fa fa-trash-o"></i></a>
            <a class="btn btn-xs btn-success serve-upload-file" data-locale="{{ data.locale }}" data-file="{{ data.file }}"><i class="fa fa-download"></i></a>
        </td>
    </tr>
</table>